---
layout: page
---
	

<div class="row">
   <!-- Blog Post Content Column -->
     	<div class="col-lg-8">
		    <p>
	        	<i class="fa fa-clock-o"></i> Posté le 17 décembre 2015, à 14h36
	        </p>
	        <a href="blog-post.html">
	            <img class="img-responsive img-hover" src="http://placehold.it/900x300" alt="">
	        </a>
	        <hr>
		        <p> {{ content }} </p>
		        <a class="btn btn-primary" href="#">En savoir plus <i class="fa fa-angle-right"></i></a>
	        <hr>
			</br>
		</div>
		{% include sidebar.html %}
</div>


